<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Event</title>
</head>
<body>
    <h1>Add Event</h1>

    {% for message in messages %}
        <h3 class="error">{{ message }}</h3>
    {% endfor %}

    <form method="post" action="{% url 'add_event' %}">
        {% csrf_token %}
        <p>Name:</p>
        <input type="text" name="name" required>

        <p>Details:</p>
        <textarea name="details" required></textarea>

        <p>Deadline:</p>
        <input type="datetime-local" name="deadline" required>

        <p>Priority:</p>
        <select name="priority" required>
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select>

        <input type="submit" value="Add Event">
    </form>

    <!-- Przycisk do przekierowania na stronę test_events -->
    <form method="get" action="{% url 'test_events' %}">
        <input type="submit" value="Go to Test Events">
    </form>
</body>
</html>
