<!-- login.html -->
<!DOCTYPE html>

{% load crispy_forms_tags %}
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'register_styles.css' %}">
</head>
<body>
    <div class="container">
        <form method="POST" action="{% url 'login' %}" class="custom-form">
            {% csrf_token %}
            <h1 class="text-center mb-4">Login</h1>

            {{ LoginForm|crispy }}

            <button type="submit" class="btn btn-primary mt-3">Login</button>
        </form>
    </div>
</body>
</html>
