<html>
 <head>
 <title>
 AI_2022 SAMPLE
 </title>
 <link rel="stylesheet" type="text/css"
href="styl2.css">
 </head>
 <body>
 <div id="page_container">
 <div id="header">
 <h1>
 UwU
 </h1>
 </div>
 <div id="left_column">
 <h2>
 W sumie to lubie
 </h2>
 <ul>
 <li>
 <a href="https://myanimelist.net/">Chińskie bajki</a>
 </li>
 <li>
 <a href="https://www.reddit.com/r/memes/?rdt=38574">Jakieś memesy</a>
 </li>
 <li>
 <a href="https://open.spotify.com/">Trochę muzyczki</a>
 </li>
 </ul>
 </div>
 <div id="center_column">
    <h2>
    Dobra gierka
    </h2>
    <p>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/134.png"
 </p>
 </div>
 <div id="right_column">
 <h3>
 Wiecej muzyczki
 </h3>
 <ul>
 <li>
 <a href="https://open.spotify.com/artist/0rEuaTPLMhlViNCJrg3NEH">Beast in Black</a>
 </li>
 <li>
 <a href="https://open.spotify.com/artist/5X0N2k3qMnI8kSrGJT3kfT">Eluveitie</a>
 </li>
 <li>
 <a href="https://open.spotify.com/artist/6tkhw6PSVw7b2M7h5fLBLE">Cyhra</a>
 </li>
 </ul>
 </div>
 <div id="footer">
 Bardzo się postarałem z tymi linkami :>
 </div>
 </div>
 </body>
</html>